version: "3.7"
services:
  nginx:
    image: "am2h/nginx-reverse-proxy"
    restart: unless-stopped
    volumes:
      - nginx_config:/etc/nginx/
    ports:
      - "4444:4444"
      - "4001:4001"
      - "4002:4002"
    networks:
      - reverse-proxy

  theia:
    image: "theiaide/theia" 
    restart: unless-stopped
    volumes:
      - theia_data:/home/project:cached
    networks:
      reverse-proxy:
        aliases:
          - theia
      
volumes:
  theia_data:
  nginx_config:
  
networks:
  reverse-proxy:
